<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="at.sourcefactory.android.simpleshoppinglist"
      android:versionCode="8"
      android:versionName="2.6"
      android:installLocation="preferExternal">
    <application android:label="@string/app_name" android:icon="@drawable/simpleshoppinglist" android:debuggable="true">
        <activity android:name="SimpleShoppingList"
                  android:label="@string/app_name"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="ManageLists" android:label="@string/settings_name" android:configChanges="orientation"></activity><activity android:name="Settings" android:label="@string/manage_lists_name" android:configChanges="orientation"></activity>
        

    </application>

    <uses-sdk android:minSdkVersion="6" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 
